<% include ./partials/header %>
<link rel="stylesheet" href="/css/landing.css">

<div class="container">
  <h1>Welcome to SplitTale!</h1>
  <img src="/images/logo-lg.png" alt="SplitTale logo">
  <p>Write a story with others</p>
  <p>Log in through Facebook to get started</p>
  <a href="/auth/facebook"><button type="button" class="btn fb-button btn-primary"><i class="fab fa-facebook"></i> <span>Continue with Facebook</span></button></a>
</div>
<% include ./partials/footer %>
